/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #0f172a;
    color: #e5e7eb;
}

/* NAVBAR */
header {
    background: #1e293b;
    padding: 15px 0;
}

nav {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #38bdf8;
    font-size: 22px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: #e5e7eb;
    text-decoration: none;
    font-size: 16px;
}

nav ul li a:hover {
    color: #38bdf8;
}

/* HOME */
.home {
    width: 90%;
    margin: auto;
    padding: 60px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home .text h1 {
    font-size: 38px;
}

.home .text h1 span {
    color: #38bdf8;
}

.home .text h3 {
    margin: 10px 0;
    color: #94a3b8;
}

.home .text p {
    font-size: 18px;
    margin-top: 10px;
    color: #cbd5e1;
}

.photo img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 3px solid #38bdf8;
}

/* ABOUT */
.about {
    width: 90%;
    margin: auto;
    padding: 50px 0;
}

.about h2 {
    font-size: 28px;
    margin-bottom: 15px;
}

.about p {
    font-size: 18px;
    line-height: 1.6;
}

/* SKILLS */
.skills {
    width: 90%;
    margin: auto;
    padding: 50px 0;
}

.skills h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.skill-box span {
    display: inline-block;
    padding: 8px 15px;
    background: #1e293b;
    margin: 6px;
    border-radius: 5px;
    border: 1px solid #334155;
}

/* PROJECTS */
.projects {
    width: 90%;
    margin: auto;
    padding: 50px 0;
}

.projects h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.project-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.project-card {
    width: 30%;
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
}

.project-card h3 {
    margin-bottom: 10px;
}

.project-card p {
    margin-bottom: 15px;
}

.project-card button {
    padding: 8px 15px;
    border: none;
    background: #38bdf8;
    color: #000;
    border-radius: 5px;
    cursor: pointer;
}

.project-card button:hover {
    opacity: 0.8;
}

/* CONTACT */
.contact {
    width: 90%;
    margin: auto;
    padding: 50px 0;
}

.contact form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 300px;
}

.contact input,
.contact textarea {
    padding: 10px;
    border: 1px solid #334155;
    border-radius: 5px;
    background: #1e293b;
    color: white;
}

.contact button {
    padding: 10px;
    background: #38bdf8;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* FOOTER */
footer {
    background: #1e293b;
    text-align: center;
    padding: 15px 0;
    margin-top: 30px;
}
